* {
    margin: 0%;
    padding: 0%;
    font-family: "Open-Sans","Roboto Slab";
    box-sizing: border-box;
}

body {
    background-color: #697359;
}

.container {
    padding: 10px,10px;
}

/* nav buttons and logo styling  */
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap:wrap;
}

.logo {
    color: #fff;
    width: 400px;
    padding-left: 10px;
    padding-top: 10px;
    font-size: 50px;
}

nav ul li {
    display:inline-block;
    list-style: none;
    margin: 10px,20px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size:25px;
    position: relative;
}

nav ul li a::after {
    content: '';
    width: 0%;
    height: 3px;
    background: #fff;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
}

nav ul li a:hover::after{
    width: 100%;
}

/* banner styling */

.banner-text {
    color: #697359;
    text-decoration: none;
    font-size: 20px;
    margin-left: 55%;
    margin-top: -14%;
}

/* about me stying */

main {
    color: #fff;
}

.About-Me h2 {
    text-decoration: none;
    font-size: 40px;
    margin-left: 10px;
    margin-top: 200px;
    margin-bottom: -7%;    
}

.About-Me p {
    text-decoration: none;
    font-size: 20px;
    margin-left: 160px;
    margin-bottom: 0px;
    margin-top: 20px;
}

/* latest project styling */

.Work img {
    border: 40px #fff; 
    margin-left: 590px;
    margin-right: 50px;
    margin-top: 10%;
    width: 364px;
    height:200px ;
    
}

.Work h2 {
    text-decoration: none;
    font-size: 40px;
    margin-left: 10px;
    margin-top: 200px;
    margin-bottom: -7%; 
    font-size: 40px;
     
}

.Work p {
    margin-left: 590px;
    margin-top: 177px; 
    position: absolute;
    background-color: #ffb45f;
}

/* styling for future projects */

.future-projects {
    display:flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 80px;
}
.future-projects img {
    width: 250px;
    height: 200px;
    margin-left: 15%;
    margin-right:15%;
}

footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap:wrap;
    margin-top: 10%;
}

footer h2 {
    color: #fff;
    width: 400px;
    padding-left: 10px;
    padding-top: 10px;
    font-size: 40px;
}

/* styling for contact me header and buttons  */